body {
    background-image: url(savitar2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center; /* Center content within the body */
}

.zoom {
    display: block;
    margin: auto;
    width: 57%;
    margin-top: 120px;
    margin-bottom: 20px;
    border: solid 8px #00BFFF;
    border-radius: 20px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 50px;
    color: white;
    background: #00BFFF;
    position: fixed;
    width: 100%;
    z-index: 1001;
    top: 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #00BFFF;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

#myAudio {
    display: none;
}

p {
    margin-top: 0;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.horizontal-menu {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 65px;
}

.menu-item {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    transition: 0.2s;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Inter', sans-serif;
}

.menu-item:hover {
    color: rgb(0, 255, 234);
    font-size: 20px;
}

.content {
    padding: 20px;
}

.sobre {
    border: 3px solid white;
    width: 50%;
    border-radius: 10px;
    background: #1F75FE;
}
